[project]
	description = device_motorola_ocean
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	abandon = group river_dev
	create = group river_dev
	deleteOwnChanges = group river_dev
	editTopicName = group river_dev
	forgeAuthor = group river_dev
	forgeCommitter = group river_dev
	forgeServerAsCommitter = group river_dev
	label-Code-Review = -2..+2 group river_dev
	label-Verified = -1..+1 group river_dev
	push = group river_dev
	pushMerge = group river_dev
	rebase = group river_dev
	revert = group river_dev
	submit = group river_dev
	toggleWipState = group river_dev
